- contact_ids_with_active_users = Contact.active_contacts.pluck(:id)
%ul.jMatchContactList.c-detail-group__content.list-unstyled
  - match.contact_titles.each do |contact_type, title|
    - next unless match.match_route.visible_contact_types.include?(contact_type.to_sym)

    %li.c-detail-group__item
      -# Force some translations
      - Translation.translate('Housing Subsidy Administrators')
      - Translation.translate('Stabilization Service Providers')
      - Translation.translate('Housing Search Providers')
      .c-detail-group__title--secondary= Translation.translate(title)
      .detail-box--value
        - match.send(contact_type).each do |contact|
          - data = {}
          - data = {toggle: :tooltip, title: 'No associated active user, will not receive emails.'} unless contact_ids_with_active_users.include?(contact.id)
          .contact.mb-2
            = contact.name
            %br
            .d-flex
              .email= mail_to contact.email, nil, target: '_blank'
              - unless contact_ids_with_active_users.include?(contact.id)
                .ml-2{data: data}
                  %i.icon-warning
            - phone = contact.phone_for_display
            - if phone.present? && phone.strip.length > 1
              %br
              = phone
        - if !match.send(contact_type).any?
          %p.c-detail-group__no-result No contacts
