(function() {
  <% if @match_contacts.errors.any? %>
    $('form.jContactForm .alert.alert-danger .jContactFormErrors').remove();
    $('form.jContactForm').prepend('<div class="alert alert-danger jContactFormErrors"><%= @match_contacts.errors.full_messages.join(', ') %></div>');
  <% else %>
    let contact_form_html = "<%= j render 'form' %>";
    $('.jContactForm').replaceWith(contact_form_html);

    $('.jDnDStaffContactForm').each(function(i) {
      let dnd_contact_form_html = "<%= j render 'matches/match_contacts_form' %>"
      $(this).replaceWith(dnd_contact_form_html)
    });

    let match_contact_form_html = "<%= j render 'match_contacts/match_contacts_list', match: @match_contacts.match %>";
    $('.jMatchContactList').replaceWith(match_contact_form_html);
    $('.select2').select2();
  <% end %>
})()
