- title = _('De-identified Client')

-# Content blocks for layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

-# Layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
= render 'non_hmis_clients/edit_layout',
  title: title,
  sub_title: @non_hmis_client.client_identifier
