
-# Content blocks for layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
- content_for :add_action do
  = link_to new_deidentified_client_path, class: 'btn btn-sm btn-primary ml-auto mb-auto' do
    %span.icon-plus
    Add a Deidentified Client

- content_for :data_actions do
  - if can_upload_deidentified_clients?
    = link_to choose_upload_deidentified_clients_path, class: 'btn btn-sm btn-secondary ml-auto mb-auto mr-2' do
      %span.icon-upload2
      Upload Excel
  - if can_export_deidentified_clients?
    = link_to deidentified_clients_path(format: :xlsx), class: 'btn btn-sm btn-secondary ml-auto' do
      %i.icon-download2
      Download

= render 'non_hmis_clients/index_layout'
