- title = 'Non-HMIS Clients'
- content_for :title, title
.d-flex
  %h1= content_for :title
  = link_to new_deidentified_client_path, class: 'btn btn-sm btn-primary ml-auto mb-auto' do
    %span.icon-plus
    Add a Deidentifed Client
= render 'menus/non_hmis_clients'
= render 'table'
