- title = _('De-identified Client')

-# Content blocks for layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
- content_for :form_actions do
  = link_to edit_deidentified_client_path(@non_hmis_client.id), class: 'btn btn-sm btn-secondary mb-auto' do
    Edit Client

-# Layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
= render 'non_hmis_clients/show_layout',
  title: "#{title} #{@non_hmis_client.client_identifier}",
  client_type: 'deidentified'
