%ul.nav.nav-tabs
  -if can_edit_users?
    %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_users_path))}
      = link_to 'User Accounts', admin_users_path, class: 'nav-link'
  -if can_edit_translations?
    %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_translation_keys_path))}
      = link_to 'Manage Translations', admin_translation_keys_path, class: 'nav-link'
  -if can_manage_config?
    %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_configs_path))}
      = link_to 'Site Configuration', admin_configs_path, class: 'nav-link'
  -if can_view_all_matches?
    %li.nav-item{role: "presentation", class: ('active' if current_page?(admin_match_routes_path))}
      = link_to 'Match Routes', admin_match_routes_path, class: 'nav-link'
