# CAS SAMPLE ENV FILE
RAILS_ENV=development
HOSTNAME=boston-cas.dev.test
FQDN=boston-cas.dev.test
PORT=80
DEFAULT_FROM='"No Reply" <no-reply@greenriver.com>'
CLIENT=
LOGO=
TIMEZONE=America/New_York

# Mail
SMTP_SERVER=mailhog
SMTP_DOMAIN=boston-cas.dev.test
SMTP_PORT=1025
MAIL_DELIVERY_METHOD=smtp

# Database
DATABASE_ADAPTER=postgresql
DATABASE_APP_DB=development_openpath_cas
DATABASE_WAREHOUSE_DB=development_openpath_warehouse
DATABASE_HOST=db
DATABASE_PORT=
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_DB_TEST=cas_test
DATABASE_WAREHOUSE_DB_TEST=warehouse_test

# Exceptions
EXCEPTION_WEBHOOK_URL=
EXCEPTION_WEBHOOK_CHANNEL=
EXCEPTION_WEBHOOK_ICON=

# Cache store
CACHE_HOST=redis
CACHE_PORT=6379
CACHE_DB=4

# Other settings
# SANDBOX_RECIPIENTS=
# SANDBOX_WHITELIST=
