.idea/
package.box
package.tgz
.vagrant/
*.rbc
capybara-*.html
.rspec
/log/*
!/log/.keep
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/assets
/coverage/
/brakeman/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.irb-history
.vscode/
TAGS
yarn-error.log
node_modules

config/initializers/secret_token.rb
config/secrets.yml
config/mail_account.yml
config/letsencrypt_plugin.yml
config/deploy/docker/assets/REVISION
config/deploy/docker/assets/secret.deploy.values.yml
app/mail_interceptors/sandbox_email_interceptor.rb

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json
.byebug_history
.sass-cache/

# Ignore pow environment settings
.powenv

.DS_Store

# personal tool stuff
/.tags
/.tags1
/.envrc
/.powrc
/.env
.env.*
docker-compose.override.yml

# warehouse data
/var
/notes.todo

*.sublime-project
*.sublime-workspace

.env.local

# Ignore themes
app/assets/stylesheets/theme/styles
app/assets/images/theme/logo
app/assets/images/theme/icons
app/views/root/_homepage_content.haml

# Ignore docker certificates
docker/nginx-proxy/certs
