- if params[:confidential_override].present?
  = link_to 'Hide Confidential Names', request.query_parameters.except(:confidential_override), class: 'btn btn-secondary'
- else
  = link_to 'Show Confidential Names', request.query_parameters.merge({confidential_override: true}), class: 'btn btn-danger'