.match-progress-bar__step__marker{data: {toggle: :tooltip, title: decision.step_name}}
  - if @types[decision.type].to_i == @types.length.to_i
    .icon-home3
  - else
    .number
      = @types[decision.type]
