html {
  height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body.not-signed-in .l-main__content {
  max-width: 100%;
  flex: 0 0 100%;
}