table.table-fixed {
  position: relative;
}

.table-fixed th {
  position: sticky;
  top: 0;
  background-color: $white;
}

.table-hover tr {
  cursor: pointer;
}

// Sort icon in table headers
th .fa {
  padding-left: 4px;
  color: var(--cas-blue);
}
