$brand-primary: #4F2C1D;
$cob-sg-blue-003: $brand-primary;
$cob-sg-charles-blue: $brand-primary;

$brand-success: #66CDAA;
$brand-success-l: #c1ebdd;
$brand-success-ll: #e0f5ee;

$brand-warning: #EAAA00;
$brand-warning-l: #ffefc7;

$brand-danger: #D22630;
$brand-danger-d: #4b1c11;
$brand-danger-l: #eea6aa;

footer {
  background-color: #FFFAEB !important;
}
