- rule = occupancy
%h4 Minimum Occupancy
= select_tag(:variable, options_from_collection_for_select(rule.available_occupancy, :first, :last), class: 'variable', id: "variable_#{rule.id}", data: {options: rule.available_occupancy.to_h.to_json})
