-# Content blocks for layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
- content_for :data_actions do
  = link_to new_imported_client_path, class: 'btn btn-sm btn-secondary ml-auto mb-auto' do
    %span.icon-upload2
    Upload CSV

-# Layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
= render 'non_hmis_clients/index_layout', sub_title: Translation.translate('Imported')
