button.close {
  background-color: inherit;
  border: 0;
}

.btn {
  @include open-sans-bold;
  [class^='icon'] {
    margin-right: space(2);
  }
  display: inline-flex;
  align-items: baseline;
}

.btn-icon-only {
  @include open-sans-bold;
  [class^='icon'] {
    margin-right: 0;
  }
  display: inline-flex;
  align-items: baseline;
}

.btn-shout {
  text-transform: uppercase;
}

.btn-default {
  @extend .btn-light;
}

/* .btn-default:hover {
  color: $gray-070;
}
 */
/* .btn-default:active,
.btn-default:focus,
.btn-default:active:hover,
.open > .btn-default.dropdown-toggle:focus {
  background-color: $gray-050;
  color: #FFF;
} */

.open > .btn-default.dropdown-toggle {
  background-color: $gray-050;
  color: #FFF;
}

.btn-primary {
  background: $brand-primary;
  border-color: $brand-primary-d;
  color: $white;
  &:hover {
    background: darken($brand-primary-l, 25%);
  }
  &:disabled,
  &.disabled {
    background: desaturate($brand-primary-l, 80%);
    border-color: desaturate($brand-primary, 80%);
    color: rgba($black, .55);
  }
  &--outline {
    &:hover,
    &:focus {
      background: rgba($brand-primary-l, 25%);
    }
  }
}

.btn-secondary {
  background: $white;
  border-color: $brand-primary;
  color: $brand-primary;
  &:hover {
    background: darken($brand-primary-l, 25%);
    border-color: $brand-primary-d
  }
  &:disabled,
  &.disabled {
    background: desaturate($brand-primary-l, 80%);
    border-color: desaturate($brand-primary, 80%);
    color: rgba($black, .55);
  }
  &--outline {
    &:hover,
    &:focus {
      background: rgba($brand-primary-l, 25%);
    }
  }
}

.btn-success {
  background: $brand-success-l;
  border-color: $brand-success;
  color: rgba($black, .75);
  &:hover {
    background: $brand-success-d;
    border-color: $brand-primary-d;
    color: $black;
  }
  &:disabled,
  &.disabled {
    background: desaturate($brand-success-l, 80%);
    border-color: desaturate($brand-success, 80%);
    color: rgba($black, .55);
  }
  &--outline {
    &:hover,
    &:focus {
      background: rgba($brand-success-l, 25%);
    }
  }
}

.btn-warning {
  background: $brand-warning-l;
  border-color: $brand-warning;
  color: rgba($black, 55%);
  &:hover {
    background: $brand-warning-d;
    color: rgba($black, 1);
  }
  &:disabled,
  &.disabled {
    background: desaturate($brand-warning-l, 80%);
    border-color: desaturate($brand-warning, 80%);
    color: $black;
  }
  &--outline {
    &:hover,
    &:focus {
      background: rgba($brand-warning-l, 25%);
    }
  }
}

.btn-danger {
  background: $brand-danger-l;
  border-color: $brand-danger;
  color: rgba($black, 1);
  &:hover {
    background: $brand-danger-d;
    color: $black;
  }
  &:disabled,
  &.disabled {
    background: desaturate($brand-danger-l, 80%);
    border-color: desaturate($brand-danger, 80%);
    color: rgba($black, .55);
  }
  &--outline {
    &:hover,
    &:focus {
      background: rgba($brand-danger-l, 25%);
    }
  }
}

.btn[class*='--outline'] {
  background: none;
  border-width: 2px;
}

.btn-light {
  &:hover {
    background: $brand-primary-l;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: darken($brand-primary-l, 25%);
    color: $white;
  }
}

.btn-min-width-medium {
  @media (min-width: $screen-xs-min) {
    min-width: 165px;
  }
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
  font-size: rem(12);
}
.btn-label {
  @include open-sans-condensed-bold;
  text-transform: uppercase;
  font-size: rem(14);
  text-align: left;
}
.btn-label__primary {
  color: darken($brand-primary, 10);
}
.buttons-row .btn {
  margin-bottom: 4px;
  margin-left: 4px;
}
.btn-no-border-radius {
  border-radius: 0;
}
.btn-primary__reverse {
  background-color: #fff;
  color: $cob-sg-blue-004;
  border: 1px solid $gray-030;
}
.btn__number {
  font-size: rem(26);
  padding: 3px 12px;
  line-height: 1;
}
.btn-rule-condition {
  border: 1px solid $gray-040;
  background-color: #fff;
  border-radius: 0;
  color: $gray-065;
}
.btn-rule-condition:hover,
.btn-rule-condition:focus {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: #fff;
}
.btn-rule-condition.active {
  border-color: $brand-primary;
  box-shadow: none;
  background-color: $brand-primary;
  color: #fff;
}
