.form__actions,
.form-actions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &--right {
    justify-content: flex-end;
    input,
    a,
    button {
      margin-left: space(2);
    }
  }
  &--stacked {
    display: inline-flex;
    flex-direction: column;
    button {
      margin-bottom: space(3);
    }
  }
}

.help-block {
  @include margin(0 0 8px 0);
  @extend .label-helper;
  margin-top: rem(-5px);
  margin-bottom: space(2);
}

.requirement-warning {
  color: $brand-danger;
  @include open-sans-medium;
  @include padding(space(1) 0);
}

.form-actions {
  @include margin(10px null);
}

.button-row {
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: space(4);
}

.form-group__indented-01 {
  @include margin(10px null 10px 40px);
}
.form-group__indented-02 {
  @include margin(null null null 20px);
}
.form--checkbox-groups {
  margin-bottom: 30px;
}
.form--checkbox-groups .form-group {
  margin-bottom: 0;
}
.radio .form-group__indented-01 label,
.checkbox .form-group__indented-01 label {
  padding-left: 0;
}
.has-error .help-block {
  color: $brand-danger;
}

.error .form-control {
  border-color: $cas-red;
}
.errors,
.error label,
.error-block {
  color: $cas-red;
  @include open-sans-medium;
}
.form-group .form-group {
  margin-bottom: 6px;
}
.contact-on-match--item {
  padding-right: 12px;
}
.contact-on-match--icon-link {
  color: $text-color;
}
.contact-on-match--icon-link:hover,
.contact-on-match--icon-link:focus {
  text-decoration: none;
  color: darken($text-color, 15);
}
.input__button-size {
  padding: 6px 12px;
  border: 1px solid $gray-030;
  vertical-align: bottom;
}
.input__width-80 {
  width: 80px;
}
