html { //for use in rem declarations
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3.history {
  text-transform: uppercase;
  font-size: $font-size-h3;
  margin-top: 0;
}
dd {
  margin-bottom: 18px;
}
.font-size-large {
  font-size: 2em;
}