
- content_for :add_action do
  = link_to new_identified_client_path, class: 'btn btn-sm btn-primary ml-auto mb-auto' do
    %span.icon-plus
    Add an Identifed Client

- content_for :data_actions do
  - if can_export_identified_clients?
    = link_to identified_clients_path(format: :xlsx), class: 'btn btn-sm btn-secondary ml-auto' do
      %i.icon-download2
      Download

= render 'non_hmis_clients/index_layout'
