- title = _('Identified Client')

-# Content blocks for layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

-# Layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
= render 'non_hmis_clients/new_layout', title: title
