.c-card.c-card--flush
  .c-card__content
    = simple_form_for @filter, as: :filter, url: reports_housed_addresses_path, method: :get do |f|
      .row
        .col-sm-3
          = f.input :start, as: :date_picker, label: 'Start'
        .col-sm-3
          = f.input :end, as: :date_picker, label: 'End'
        .col-sm-3.mt-no-label
          = f.submit 'Update', class: 'btn btn-primary mt-no-label', data: { disable_with: false }
