= simple_form_for @client_note, as: :client_note, url: client_client_notes_path(@client) do |f|
  = f.input :note, label: false, as: :text
  = f.submit value: 'Add Note', class: 'btn btn-secondary float-right'
