.mb-6
  %p= note.note

  .d-flex.align-items-center.flex-wrap
    %p.small.text-muted.mb-0
      Posted by #{content_tag(:strong, note.user&.name)} on #{content_tag(:strong, note.created_at)}
    .ml-auto
      = link_to(client_client_note_path(note, client_id: @client.id), method: :delete, data: {confirm: "Delete this note?"}, class: 'btn btn-icon-only btn-small btn-danger py-2 px-2') do
        %i.icon-cross
