.col-md-6.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-group
    %h5 Cohorts
  - if @client.cohorts.any?
    %ul.c-detailed-list<
      - @client.cohorts.map(&:name).each do |name|
        %li.c-detailed-list__item.mb-4= name
  - else
    %p None
