.col-md-6.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-clipboard-check
    %h5 Files
  - if @files.present?
    %table.table
      %thead
        %tr
          %th File
          %th Effective Date
          %th Expiration Date
      %tbody
        - @files.each do |tag, file|
          %tr
            %td= link_to tag, file.file_url, target: '_blank'
            - if file.effective_date.present?
              %td= date_format(file.effective_date)
            - else
              %td.font-no-data None
            - if file.expiration_date.present?
              %td= date_format(file.expiration_date)
            - else
              %td.font-no-data None
  - else
    %p.font-no-data None