= simple_form_for(@client) do |f|
  = f.error_notification
  %p
    %strong
      Remove from matches and prevent from matching until:
  .row
    .col-sm-6        
      .input-group.date
        = f.input_field :prevent_matching_until, as: :date_picker
    .col-sm-6
      = f.button :submit, class: 'btn btn-secondary', value: 'Park Client'
