- if can_edit_all_clients?
  %h2.duplicates
    Potential Duplicates for
    =@client.full_name
  %p
    Click on a name below to see more detail and decide whether to merge that record into
    = succeed '\'s' do
      = @client.full_name
    record
  %table.table.table-condensed
    %thead
      %tr
        %th Last Name
        %th First Name
        %th
          Score
          %span.icon-info{'data-toggle': "tooltip", 'data-placement': "top", 'title': "Confidence rating that match is a duplicate"}
    %tbody
      - @dupes.each do |c|
        %tr
          %td=link_to c[:last_name] || 'unknown', client_duplicate_url(client_id: @client.id, id: c[:id]), data: {loads_in_pjax_modal: true}
          %td=link_to c[:first_name] || 'unknown', client_duplicate_url(client_id: @client.id, id: c[:id]), data: {loads_in_pjax_modal: true}
          %td=c[:score].round(2)
