%h2.non-duplicates Previously Merged Clients
%table.table.table-condensed
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Un-Merge?
  %tbody
    - @splits.each do |c|
      %tr
        %td=link_to c.last_name, client_path(c) 
        %td=link_to c.first_name, client_path(c) 
        %td= render 'split_form', c: c