.col-md-6.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-star
    %h5 Scores
  %ul.c-detailed-list<
    %li.c-detailed-list__item
      - collected = @client.rrh_assessment_collected_at
      %span.c-detailed-list__label Assessment Collected
      %span.c-detailed-list__value= collected ? collected : boolean_icon(false)
    %li.c-detailed-list__item
      %span.c-detailed-list__label Assessment Score
      %span.c-detailed-list__value= @client.assessment_score
    - if can_view_vspdats?
      %li.c-detailed-list__item
        %span.c-detailed-list__label VI-SPDAT Score
        %span.c-detailed-list__value= @client.vispdat_score
      %li.c-detailed-list__item
        %span.c-detailed-list__label
          %span VI-SPDAT Priority Score
          %span.icon-info{data: {toggle: :tooltip}, title: 'VI-SPDAT score plus a set amount based on other criteria.  See the warehouse CAS Readiness page for details.'}
        %span.c-detailed-list__value= @client.vispdat_priority_score
