.col-md-6.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-star
    %h5 Scores
  %ul.c-detailed-list<
    %li.c-detailed-list__item
      %span.c-detailed-list__label RRH Assessment Score
      %span.c-detailed-list__value= @client.assessment_score
    %li.c-detailed-list__item
      %span.c-detailed-list__label RRH Assessment Collected
      %span.c-detailed-list__value= @client.rrh_assessment_collected_at
    - if can_view_vspdats?
      %li.c-detailed-list__item
        %span.c-detailed-list__label VI-SPDAT Score
        %span.c-detailed-list__value= @client.vispdat_score
      %li.c-detailed-list__item
        %span.c-detailed-list__label
          %span Priority Score
          %span.icon-info{data: {toggle: :tooltip}, title: 'VI-SPDAT score plus zero, one (365), two (730), or three (1095) years of days homeless'}
        %span.c-detailed-list__value= @client.vispdat_priority_score
