.c-question 
  .c-question__wrapper
    .c-question__number 3C
    .c-question__input 
      %label.control-label 
        If there is a second adult in your household, is this person also homeless in the City of Boston? (This is only for match coordination. Partner can be assessed and matched separately)
        %br
        %br
        If yes: assessor - check for
      .form-group
        %label.control-label Warehouse ID:
      - field_name = "#{@assessment.model_name.param_key}[household_members][warehouse_id]"
      = form.input :household_adults, as: :string, input_html: { name: field_name, id: field_name, value: @assessment.household_adults.try(:[], 'warehouse_id'), style: 'width: 100%' }, label: false
      .form-group
        %label.control-label Name:
      - field_name = "#{@assessment.model_name.param_key}[household_members][member_name]"
      = form.input :household_adults, as: :string, input_html: { name: field_name, id: field_name, value: @assessment.household_adults.try(:[], 'member_name'), style: 'width: 100%' }, label: false