
%h3 Length of Time Homeless
%p To prioritize housing assistance, we look at the total number of nights someone has experienced homelessness in the last 3 years, up to a maximum of 1,096 nights. When doing the assessment, please don't enter more than 1,096 nights, or the person won't be matched with the right resources.
%p 
  If you are adding non-HMIS nights to an individual's assessment you will need to complete the 
  %a{ href: 'https://bit.ly/pathways24addnights', target: :blank } Documenting Boston Homeless Nights form (bit.ly/pathways24addnights)
  and send it to the CE Team at ceteam@homestart.org.
