%p
  *If you are adding non-HMIS nights please complete the 
  %a{ href: 'bit.ly/pathways24addnights', target: :blank } Certification of Non-HMIS Nights (bit.ly/pathways24addnights)
  form.
%p
  Please share this information: 
  %a{ href: 'bit.ly/pathways24faq', target: :blank } bit.ly/pathways24faq
  with your client.