%h2 Contact Information
%p Please note that you should also update the client’s contacts tab with all relevant information. This will allow the CE Operators and housing providers reach out should the client come up for a housing resource


.c-question 
  .c-question__wrapper
    .c-question__number 2A
    .c-question__input 
      .form-group
        %label.control-label Name of Staff Completing Pathways Assessment (required):
      = current_user.name
.c-question 
  .c-question__wrapper
    .c-question__number 2B
    .c-question__input 
      .form-group
        %label.control-label Email Address of Staff Completing Pathways Assessment (required):
      = current_user.email




