%h1 Rapid Re-Housing ➡︎ Permanent Supportive Housing Transfer Assessment
.alert.alert-info
  %p.mb-4.d-block
    %i.icon-warning
    = link_to 'Please read this', 'https://bit.ly/rrh2psh', target: :_blank
    before completing the assessment
  %h3 Eligibility:
  %p
    Clients are eligible for the transfer assessment after 3 months in RRH if they have had 1 year of homelessness in Boston in the last 3 years.

%h1.mt-8 Assessment Questions
%hr
