.o-page__title {
  display: flex;
  align-items: flex-end;
  margin-bottom: space(4);
  flex-wrap: wrap;
  h1 {
    margin-bottom: 0;
  }
}

.o-page__action {
  margin-left: auto;
  display: flex;
}

.o-page__action--stacked {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
