.o-pre-table-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 .75rem;
  background: lighten($tab-bg, 30%);
  min-height: 50px;
}

.o-pre-table-actions--light {
  background: none;
  border-bottom: 1px solid $gray-015;
}

.o-pre-table-actions__heading {
  margin-bottom: 0;
}

.o-pre-table-actions__group {
  margin-top: space(2);
  margin-bottom: space(2);
}

.o-pre-table-actions__group a {
  margin-right: space(1);
  &:last-of-type {
    margin-right: 0;
  }
}

.o-pre-table-actions__secondary {
  margin-left: auto;
}
