.o-pre-table-actions {
  display: flex;
  flex-wrap: wrap;
  padding: 0 space(2);
  background: lighten($tab-bg, 30%);
}

.o-pre-table-actions__group {
  margin-top: space(2);
  margin-bottom: space(2);
}

.o-pre-table-actions__group a {
  margin-right: space(1);
  &:last-of-type {
    margin-right: 0;
  }
}

.o-pre-table-actions__secondary {
  margin-left: auto;
}
