- if can_reject_matches?
  %li.nav-item.ml-auto
    %a.nav-link{href:'#backup', data: {toggle: :tab}, role: :tab, aria:{controls:'backup'}}
      .o-choose__title
        .c-choice-icon.c-choice-icon--backup.mr-0