- if can_reject_matches?
  %li.nav-item.ml-auto.o-choose__nav-item
    %a.nav-link.o-choose__nav-link{href:'#backup', data: {toggle: :tab}, role: :tab, aria:{controls:'backup'}, title: 'Backup'}
      .o-choose__title
        .c-choice-icon.c-choice-icon--backup.mr-0
