.cancel-match-fields
  = form.association :administrative_cancel_reason, collection: MatchDecisionReasons::AdministrativeCancel.active, label: 'If canceling, please indicate reason:', as: :check_boxes, wrapper_html: {class: 'jCancelReason jButtonStateTriggers'}
  = form.submit 'Cancel Match', class: 'btn btn-secondary jCancel', data: {submit_param_name: 'decision[status]', submit_param_value: 'canceled'}, disabled: !@decision.editable?
  = content_for :page_js do
    :javascript
      new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[administrative_cancel_reason_id][]')
