.o-choose__choice
  %header.jMatchHeader
    %ul.o-choose__nav.nav.jMatchActionNav
      %li.nav-item
        %a.nav-link.active{href:'#cancel-client', data: {toggle:'tab'}, role:'tab', aria:{controls:'cancel'}}
          .o-choose__title
            .c-choice-icon.c-choice-icon--cancel
            %h3
              %span Cancel
              %span Match
      - if can_reject_matches?
        %li.nav-item
          %a.nav-link{href:'#park-client', data: {toggle:'tab'}, role:'tab', aria:{controls:'park'}}
            .o-choose__title
              .c-choice-icon.c-choice-icon--park
              %h3
                %span Park
                %span Match
  .o-choose__content
    .tab-content
      - cancel_data = {submit_param_name: 'decision[status]', submit_param_value: 'canceled'}
      #cancel-client.tab-pane.active{role:'tabpanel', aria: {labelledby:'cancel-client'}}
        = render 'match_decisions/cancel_match_form_fields', form: form
        -# = form.submit 'Cancel Match', class: 'btn btn-warning jCancel', data: cancel_data, disabled: !@decision.editable?
        .form-actions.form-actions--right
          %button{ class: 'btn btn-warning jCancel', data: cancel_data, disabled: !@decision.editable? }
            %i.icon-minus-circle
            Cancel Match

      #park-client.tab-pane{role:'tabpanel', aria: {labelledby:'park-client'}}
        = render 'match_decisions/park_client', form: form
        = render 'match_decisions/cancel_match_form_fields', form: form, client_action: 'park'
        .form-actions.form-actions--right
          %button{ class: 'btn btn-warning jCancel', data: cancel_data, disabled: !@decision.editable? }
            %i.icon-clock
            Park Match

= content_for :page_js do
  :javascript
    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[not_working_with_client_reason_id][]')
    new App.Matches.ActionNav('.jMatchHeader')
