.match-decision.c-card.c-card--flush.card--block
  .c-card__content
    = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
      .o-pre-choose
        .form-inputs
          .row
            .col-md-6
              = form.input :note, as: :text, input_html: {rows: 4, disabled: (!@decision.editable?)}
      .o-choose.o-choose--flush
        - if can_reject_matches?
          .o-choose__choice
            %header
              .o-choose__title
                .c-choice-icon.c-choice-icon--park
                %h3 Park Client
            .o-choose__content
              = render 'match_decisions/park_client', form: form
        .o-choose__choice{class: ('o-choose__choice--disabled' if !@decision.editable?)}
          %header
            .o-choose__title
              .c-choice-icon.c-choice-icon--reject
              %h3 Review Decline
          .o-choose__content
            = render 'match_decisions/decline_overrides'
