- active_tab = '' unless defined?(active_tab)
- include_other = true unless include_other === false
#decline-client.tab-pane{role: :tabpanel, aria: {labelledby:'decline-client'}, class: [active_tab] }
  = render 'match_decisions/decline_reason', form: form, include_other: include_other
  - if !action_message.empty?
    %p
      %i.icon-info
      = action_message
  .form-actions.form-actions--right
    %button{ class: 'btn btn-danger', data: {submit_param_name: 'decision[status]', submit_param_value: 'declined'}, disabled: !(@decision.editable?) }
      %i.icon-cross
      Decline Match
