%li.nav-item
  %a.nav-link.active{href:'#decline-client', data: {toggle: :tab}, role: :tab, aria:{controls:'decline', selected:'true'}}
    .o-choose__title
      .c-choice-icon.c-choice-icon--reject
      %h3.jMatchActionTitle
        %span Decline