.row
  .col-sm-5
    = form.association :decline_reason, collection: @decision.decline_reasons, label: 'If you are declining this match, please indicate reason(s)', as: :check_boxes
    = form.input :decline_reason_other_explanation, as: :text, label: false, placeholder: 'Other reason'

= content_for :page_js do
  :javascript
    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[decline_reason_id][]')