%li.nav-item.o-choose__nav-item
  %a.nav-link.active.o-choose__nav-link{href:'#decline-client', data: {toggle: :tab}, role: :tab, aria:{controls:'decline', selected:'true'}, title: 'Decline'}
    .o-choose__title
      .c-choice-icon.c-choice-icon--reject
      %h3.jMatchActionTitle
        %span.o-choose__nav-link-title Decline
