- if can_delete_matches?
  %li.nav-item.ml-auto.o-choose__nav-item
    %a.nav-link.o-choose__nav-link{href:'#destroy', data: {toggle: :tab}, role: :tab, aria:{controls:'delete'}, title: 'Delete'}
      .o-choose__title
        .c-choice-icon.c-choice-icon--revert.mr-0
