.match-decision.c-card.c-card--flush.card--block
  .c-card__content
    = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
      .o-choose.o-choose--flush.o-choose--flush-top
        .o-choose__choice{ class: ('o-choose__choice--100' unless can_reject_matches?)}
          %header
            .o-choose__title
              .c-choice-icon.c-choice-icon--confirm.mr-4
              %h3 Client Housed
          .o-choose__content
            = render 'match_decisions/client_move_in_details', form: form, submit_label: 'Client Housed'

        = render 'match_decisions/decline_and_cancel_backup_actions', form: form, action_message: "If the match is declined, the _('Route Five DND Contact') will be informed of the decision."
