.match-decision.c-card.c-card--flush.card--block
  .c-card__content
    = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
      .o-choose.o-choose--flush.o-choose--flush-top
        .o-choose__choice{class: [('o-choose__choice--disabled' if !@decision.editable?)]}
          %header
            .o-choose__title
              .c-choice-icon.c-choice-icon--confirm.mr-4
              %h3 Mitigation
          .o-choose__content
            .form-group.jSelections
              =form.input :mitigations, as: :check_boxes, collection: @match.match_mitigation_reasons, checked: @match.match_mitigation_reasons.addressed.pluck(:id), label: 'Successfully mitigated', input_html: {disabled: (!@decision.editable?)}
            .form-actions
              %button{ class: 'btn btn-success jAccept', data: {submit_param_name: 'decision[status]', submit_param_value: 'accepted'}, disabled: (!@decision.editable?) }
                %i.icon-checkmark
                Continue Match
        = render 'match_decisions/decline_and_cancel_backup_actions', form: form, action_message: "If the match is declined, the #{@match.match_route.contact_label_for(:dnd_staff_contacts)}  will be informed of the decision."

- if(@decision.editable?)
  = content_for :page_js do
    :javascript
      $('.jSelections input').on('change', function(){
        disabled = $('.jSelections input:checkbox:not(:checked)').length != 0
        $('.jAccept').prop('disabled', disabled)
      });
      $('.jSelections input').trigger('change');