%p Parking a client will remove them from this match and any proposed matches on the #{@program.match_route.title}. The client will not be re-matched on the #{@program.match_route.title} until the date specified has passed.
%label Park #{@match.client.name} until:
.row
  .col-md-6
    = form.input :prevent_matching_until, as: :date_picker, input_html: {class: 'jButtonStateTriggers'}, label: false
