- if can_reject_matches?
  %li.o-choose__nav-item.nav-item
    %a.nav-link.o-choose__nav-link.active{href:'#reject', data: {toggle: :tab}, role: :tab, aria:{controls:'reject'}, title: 'Reject Match'}
      .o-choose__title
        .c-choice-icon.c-choice-icon--reject
        %h3.jMatchActionTitle
          %span.o-choose__nav-link-title Reject Match
