= content_for :page_js do
  :javascript
    // Force agreement with terms
    $('#shelter-agency-modal').modal('hide');
    $('.jCancel').on('click', function(e){
      $('#shelter-agency-modal').modal('hide');
    });
    $('.jNeedsToAgree').on('click', function(e) {
      e.preventDefault();
    });

#shelter-agency-modal.modal.fade(role="dialog")
  .modal-dialog(role="document")
    .modal-content(data-pjax-modal-container)
      .modal-header
        %h4.modal-title(data-pjax-modal-title)
          Confirm and Agree
        %button.close.pull-right.jCancel(aria-label="Close" type="button")
          %span.icon-cross(aria-hidden="true")
      .modal-body.clearfix
        %p
          = simple_format _('match shelter agency agreement modal')
        %p
          If any of the steps above still need to be completed, please click "Cancel".
      .modal-footer(data-pjax-modal-footer)
        .row
          .col-sm-6.text-left
            %button.btn.btn-primary.jAccept
              Accept
          .col-sm-6.text-right
            %button.btn.btn-secondary.pull-right.jCancel(aria-label="Close" pjax-modal-close type="button")
              Cancel
