%p Please rank the following in order of preference (1-5 with 1 being most preferred and 5 being least preferred). For example: Apartment (1), Tiny Home (2), etc. (NOTE: This is NOT a guarantee to housing options - this is for informational purposes.)
