.c-question.jDailyAssistance
  .c-question__wrapper
    .c-question__number
    .c-question__input
      %p NOTE: You have indicated that this client is not a good fit for a typical housing voucher, due to needing a higher level of care. Please indicate below which alternative housing option may better suit this client. Please complete remainder of SECTION A and skip the remainder of the assessment.
