%h3 Transitional HousingTransitional housing (TH) is designed to provide homeless individuals and families with the TEMPORARY stability and support to successfully move to and maintain permanent housing. Transitional housing may be used to cover the costs of up to 24 months of housing with accompanying supportive services.
