= render 'rules/enrolled_in_hmis_project_type_any_ph_no_move_ins/enrolled_in_hmis_project_type_any_ph_no_move_in', enrolled_in_hmis_project_type_any_ph_no_move_in: enrolled_in_hmis_project_type_any_ph_no_move_in
