
.summary-readout.pull-right
  .summary-readout--tile.summary-readout--tile__green
    .summary-readout--tile-color-block
      .summary-readout--tile-label
        CAS Matched
      .summary-readout--value
        = @subprogram.matched
  .summary-readout--tile.summary-readout--tile__blue.margin-left-01
    .summary-readout--tile-color-block
      .summary-readout--tile-label
        In Progress
      .summary-readout--value
        = @subprogram.in_progress
  .summary-readout--tile.summary-readout--tile__red.margin-left-01
    .summary-readout--tile-color-block
      .summary-readout--tile-label
        Vacancies
      .summary-readout--value
        = @subprogram.vacancies
