= render 'breadcrumbs'
.row
  .col-xs-8
    %h1 Edit Sub-Program
  .col-xs-4.button-row.margin-top-03.text-right
    = render 'status_blocks'
.row
  .col-sm-8
    = render 'tab_navigation', active: 'edit'
.row.margin-top-02
  .col-sm-8
    = render 'form'


