= content_for :page_js do
  :javascript
    // Youth
    $('input[name*="[hoh_age]"]').on('change', function(e) {
      if($('input[name*="[hoh_age]"]:checked').val() == '18-24') {
        $('.c-question[data-number="5C"]').removeClass('d-none');
      } else {
        $('.c-question[data-number="5C"]').addClass('d-none');
      }
    });
    $('input[name*="[hoh_age]"]').trigger('change');

    // DV
    $('input[name*="[setting]"]').on('change', function(e) {
      value = $('input[name*="[setting]"]:checked').val();
      if(value !== undefined && value.startsWith('Actively fleeing')) {
        $('.c-question[data-number="5D"]').removeClass('d-none');
      } else {
        $('.c-question[data-number="5D"] input[type="radio"]').prop('checked', false);
        $('.c-question[data-number="5D"]').addClass('d-none');
      }
    });
    $('input[name*="[setting]"]').trigger('change');

    // Days Homeless
    var warehouse_sheltered_selector = 'input[name*="[homeless_nights_sheltered]"]';
    var warehouse_unsheltered_selector = 'input[name*="[homeless_nights_unsheltered]"]';
    var extra_sheltered_selector = 'input[name*="[additional_homeless_nights_sheltered]"]';
    var extra_unsheltered_selector = 'input[name*="[additional_homeless_nights_unsheltered]"]';
    var total_sheltered_selector = 'input[name*="[total_homeless_nights_sheltered]"]';
    var total_unsheltered_selector = 'input[name*="[total_homeless_nights_unsheltered]"]';
    var total_selector = 'input[name*="[total_days_homeless_in_the_last_three_years]"]';
    var additional_days_verified_selector = 'input[name*="[self_reported_days_verified]"]'
    var additional_days_verified_checkbox = $('input.pretty_boolean[name*="[self_reported_days_verified]"]')[0];

    var calculate_total_days = function(e) {
      var warehouse_sheltered = parseInt($(warehouse_sheltered_selector).val() || 0)
      var warehouse_unsheltered = parseInt($(warehouse_unsheltered_selector).val() || 0);
      var extra_sheltered_days = parseInt($(extra_sheltered_selector).val() || 0);
      var extra_unsheltered_days = parseInt($(extra_unsheltered_selector).val() || 0);

      // If a client has more than 548 self-reported days (combination of sheltered and unsheltered) 
      // and does not have a verification uploaded, count unsheltered days first, then count sheltered days UP TO 548.
      // If the additional days are verified, use the provided amounts.
      if(!additional_days_verified_checkbox.checked) {
        // 1. Cap the total unsheltered at 548 days if it is greater than this amount.
        extra_unsheltered_days = extra_unsheltered_days > 548 ? 548 : extra_unsheltered_days
        // 2. Find the maximum amount of sheltered days to count based on the total unsheltered days.
        //    The combination of the two cannot exeed 548.
        max_sheltered = Math.max(548 - extra_unsheltered_days, 0)
        // 3. Cap the sheltered days counted at the calculated max if it exceeds that amount.
        extra_sheltered_days = extra_sheltered_days > max_sheltered ? max_sheltered : extra_sheltered_days
      }
      var warehouse_days = warehouse_sheltered + warehouse_unsheltered;
      var extra_days = extra_sheltered_days + extra_unsheltered_days;

      var total_sheltered = warehouse_sheltered + extra_sheltered_days;
      total_sheltered = total_sheltered > 1096 ? 1096 : total_sheltered;
      var total_unsheltered = warehouse_unsheltered + extra_unsheltered_days;
      total_unsheltered = total_unsheltered > 1096 ? 1096 : total_unsheltered;
      var total = warehouse_days + extra_days
      total = total > 1096 ? 1096 : total

      $(total_sheltered_selector).val(total_sheltered);
      $(total_unsheltered_selector).val(total_unsheltered);
      $(total_selector).val(total);
    }
    $(
      warehouse_sheltered_selector + ',' +
      warehouse_unsheltered_selector + ',' +
      extra_sheltered_selector + ',' +
      extra_unsheltered_selector + ',' +
      additional_days_verified_selector
    ).on('keyup, change', calculate_total_days);

    $(warehouse_sheltered_selector).trigger('change');

    // Households
    $('.jHouseholdTrigger').on('change keyup input', function(e){
      if($(this).val() > 1) {
        $('.jHouseholdDetails').removeClass('d-none');
      } else {
        $('.jHouseholdDetails').addClass('d-none');
      }
    });
    $('.jHouseholdTrigger').trigger('keyup');

    // Deal with "None of the Above"
    $('input[type=checkbox]').on('change', function(e){
      var none_of_the_above = $(this).val() == 'None of the above' || $(this).val() == 'none'
      if(none_of_the_above && $(this).is(':checked')) {
        // console.log($(this).is(':checked'));
        var neighbors = $(this).closest('.controls').find('input[type=checkbox]').not(this);
        neighbors.prop('checked', false);
        // console.log(neighbors);
      }
    })
