.c-question__display
  %span.d-block= label
  %span.c-metric.c-metric--lg
    - if value.is_a? Array
      - if value.any?
        = value.map(&:titleize).join(', ')
      - else
        N/A
    - else
      = value || 'N/A'
