- if available_routes.count > 1
  %ul.nav.nav-tabs{role: :tablist}
    - available_routes.each do |route|
      - route_name = route.first
      - if current_tab == route_name
        - active = 'active'
      - else
        - active = ''
      %li.nav-item{role: :presentation}
        = link_to route_name, active_matches_path(filter_params.merge(current_route: route_name)), class: "nav-link #{active}"