.alert.alert-info
  %p Tags get applied to client records and can be used in match rules.
  %p There are two types of tags:
  %ol
    %li Tags that are automatically added to all clients in CAS who have an assessment score.
    %li Tags that are assigned to an entire cohort in the warehouse.