footer {
  min-height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cob-sg-charles-blue;
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.50);
  color: #fff;
  z-index: 1000;
}

footer p {
  margin: 0;
  font-size: rem(12px);
}

.seal-image {
  height: 85px;
  display: block;
  margin: 18px auto;
}

.seal {
  width: 100%;
  height: 100%;
}
