.history--event-note--actions {
  margin-top: 12px;
}
.history--event-note--actions a {
  margin-right: 18px;
}
.history--event-note--actions a:hover,
.history--event-note--actions a:focus {
  text-decoration: none;
}
