.match-progress-bar[step-count="3"] .match-progress-bar__step { width: percentage(1/3); }
.match-progress-bar[step-count="4"] .match-progress-bar__step { width: percentage(1/4); }
.match-progress-bar[step-count="5"] .match-progress-bar__step { width: percentage(1/5); }
.match-progress-bar[step-count="6"] .match-progress-bar__step { width: percentage(1/6); }
.match-progress-bar[step-count="7"] .match-progress-bar__step { width: percentage(1/7); }
.match-progress-bar[step-count="8"] .match-progress-bar__step { width: percentage(1/8); }
.match-progress-bar[step-count="9"] .match-progress-bar__step { width: percentage(1/9); }

$match-progress-bar-height: 15px; //Not adjustable without tweaking

$match-progress-bar-step-marker-border-width: 1px;
$match-progress-bar-step-marker-height: $match-progress-bar-height - 2 * $match-progress-bar-step-marker-border-width;
$match-progress-bar-step-marker-width: $match-progress-bar-step-marker-height;

$match-progress-bar-step-marker-large-height: $match-progress-bar-step-marker-height * 1.5;
$match-progress-bar-step-marker-large-width: $match-progress-bar-step-marker-large-height;

$match-progress-bar-step-border-width: $match-progress-bar-step-marker-border-width;


.match-progress-bar-fixed-width
{
  max-width: 330px;
  min-width: 180px;
}

.match-progress-bar
{
  width: 90%;
  min-width: 140px;
  list-style: none;
  list-style-image: none;
  height: $match-progress-bar-height;
  padding: 0;
}

.match-progress-bar__step
{
  float: left;
  position: relative;
  border-top: $match-progress-bar-step-border-width solid $cob-sg-blue-004;
  border-bottom: $match-progress-bar-step-border-width solid $cob-sg-blue-004;
}

.match-progress-bar__step:first-of-type
{
  border-left: $match-progress-bar-step-border-width solid $cob-sg-blue-004;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: $cob-sg-blue-005;
}

.match-progress-bar__step__name
{
  display: none;
}

.match-progress-bar__step__marker
{
  z-index: 10;
  position: relative;
  color: black;
  border: $match-progress-bar-step-marker-border-width solid $cob-sg-blue-004;
  border-radius: 50%;
  width: $match-progress-bar-step-marker-width;
  height: $match-progress-bar-step-marker-height;
  text-align: center;

  // < 480px
  right: -90%;
  @media (min-width: $screen-xs-min) {
    // 480-768px
    right: -90%;
  }
  @media (min-width: $screen-sm-min) {
    // 768 - 992px
    right: -80%;
  }
  @media (min-width: $screen-md-min) {
    // 992-1200px
    right: -80%;
  }
  @media (min-width: $screen-lg-min) {
    // 1200+px
    right: -90%;
  }
}

.match-progress-bar__step__marker .number
{
  line-height: 1;
  display: none;
  text-align: center;
  color: $cob-sg-blue-004;
  font-weight: bold;
}

//Done steps
.match-progress-bar__step--done
{
  background-color: $cob-sg-blue-005;
}

.match-progress-bar__step--done .match-progress-bar__step__marker
{
  background-color: $cob-sg-blue-004;
}

//Large steps (active, canceled, and done)
.match-progress-bar__step--active .match-progress-bar__step__marker,
.match-progress-bar__step--canceled .match-progress-bar__step__marker,
.match-progress-bar__step:last-of-type .match-progress-bar__step__marker
{
  height: $match-progress-bar-step-marker-large-height;
  width: $match-progress-bar-step-marker-large-width;
  background-color: white;
  color: $cob-sg-blue-004;
  border: 1px solid $cob-sg-blue-004;
  margin-top: $match-progress-bar-step-marker-large-height / -6;
  margin-bottom: $match-progress-bar-step-marker-large-height / -6;
}

.match-progress-bar__step--active,
.match-progress-bar__step--canceled
{
  background-color: $cob-sg-blue-005;
}


.match-progress-bar__step--canceled .match-progress-bar__step__marker
{
  background-color: darken($brand-danger, 15);
  border: 1px solid darken($brand-danger, 15);
}

.match-progress-bar__step--active .match-progress-bar__step__marker .number,
.match-progress-bar__step--canceled .match-progress-bar__step__marker .number
 {
  display: initial;
  position: relative;
  top: -1px;
}

.match-progress-bar__step--canceled .match-progress-bar__step__marker .number
{
  color: white;
}

//Last step
.match-progress-bar__step:last-of-type .match-progress-bar__step__marker
{
  padding-top: 1px;
}

//When last step is done
.match-progress-bar__step:last-of-type.match-progress-bar__step--done .match-progress-bar__step__marker
{
  background-color: $cob-sg-blue-004;
  border: 1px solid $cob-sg-blue-004;
  color: white;
}

//When last step is canceled
.match-progress-bar__step:last-of-type.match-progress-bar__step--canceled .match-progress-bar__step__marker
{
  background-color: darken($brand-danger, 15);
  border: 1px solid darken($brand-danger, 15);
  color: white;
}
.match-step-status
{
  border-bottom: 1px solid lighten($cob-sg-blue-004, 50);
}