$step-count: 6; //TODO pass in from data
$match-progress-bar-step-width: percentage(1/$step-count);

$match-progress-bar-height: 19px;

$match-progress-bar-step-marker-border-width: 1px;
$match-progress-bar-step-marker-height: $match-progress-bar-height - 2 * $match-progress-bar-step-marker-border-width;
$match-progress-bar-step-marker-width: $match-progress-bar-step-marker-height;

$match-progress-bar-step-marker-large-height: 27px;
$match-progress-bar-step-marker-large-width: $match-progress-bar-step-marker-large-height;

$match-progress-bar-step-border-width: $match-progress-bar-step-marker-border-width;


.match-progress-bar-fixed-width 
{
  width: 350px;
  padding: 10px;
}

.match-progress-bar 
{
  list-style: none;
  list-style-image: none;
  height: $match-progress-bar-height;
  padding: 0; 
}

.match-progress-bar__step 
{
  width: $match-progress-bar-step-width; 
  float: left;
  position: relative;
  border-top: $match-progress-bar-step-border-width solid $cob-sg-blue-004;
  border-bottom: $match-progress-bar-step-border-width solid $cob-sg-blue-004;
  z-index: -1;
}

.match-progress-bar__step:first-of-type
{
  border-left: $match-progress-bar-step-border-width solid $cob-sg-blue-004;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: $cob-sg-blue-005;
}

.match-progress-bar__step:last-of-type
{
  border-right: $match-progress-bar-step-border-width solid $cob-sg-blue-004;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.match-progress-bar__step__name 
{
  display: none;
}

.match-progress-bar__step__marker 
{
  z-index: 1;
  float: right;
  margin-right: ($match-progress-bar-step-marker-width / -2) - 1px;
  color: black;
  border: $match-progress-bar-step-marker-border-width solid $cob-sg-blue-004;
  border-radius: 50%;
  width: $match-progress-bar-step-marker-width;
  height: $match-progress-bar-step-marker-height;
  text-align: center;
}

.match-progress-bar__step__marker .number 
{
  display: none;
  text-align: center;
  color: $cob-sg-blue-004;
  font-weight: bold;
}

//Done steps
.match-progress-bar__step--done 
{
  background-color: $cob-sg-blue-005;
}

.match-progress-bar__step--done .match-progress-bar__step__marker 
{
  background-color: $cob-sg-blue-004;
}

//Large steps (active, canceled, and done)
.match-progress-bar__step--active .match-progress-bar__step__marker,
.match-progress-bar__step--canceled .match-progress-bar__step__marker,
.match-progress-bar__step:last-of-type .match-progress-bar__step__marker
{
  height: $match-progress-bar-step-marker-large-height;
  width: $match-progress-bar-step-marker-large-width;
  background-color: white;
  color: $cob-sg-blue-004;
  border: 1px solid $cob-sg-blue-004;
  padding-top: 0.1em;
}

.match-progress-bar__step--canceled .match-progress-bar__step__marker
{
  background-color: darken($brand-danger, 15);
  border: 1px solid darken($brand-danger, 15);
}

.match-progress-bar__step--active .match-progress-bar__step__marker .number,
.match-progress-bar__step--canceled .match-progress-bar__step__marker .number
 {
  display: initial;
  line-height: 1.6;
}

.match-progress-bar__step--canceled .match-progress-bar__step__marker .number
{
  color: white;
}

//Last step
.match-progress-bar__step:last-of-type .match-progress-bar__step__marker
{
  padding-top: 4px;
}

//When last step is done
.match-progress-bar__step:last-of-type .match-progress-bar__step--done .match-progress-bar__step__marker
{
  background-color: $cob-sg-blue-004;
  border: 1px solid $cob-sg-blue-004;
  color: white;
}
