.match-progress-bar {
  ol.progress[data-steps="2"] li { width: 49%; }
  ol.progress[data-steps="3"] li { width: 33%; }
  ol.progress[data-steps="4"] li { width: 24%; }
  ol.progress[data-steps="5"] li { width: 19%; }
  ol.progress[data-steps="6"] li { width: 16%; }
  ol.progress[data-steps="7"] li { width: 14%; }
  ol.progress[data-steps="8"] li { width: 12%; }
  ol.progress[data-steps="9"] li { width: 11%; }

  .progress {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    height: 1.2em;
    padding: 0; 
    border-radius: 0.6em;
    border: 1px solid $cob-sg-blue-005;
  }

  li {
    float: left;
    text-align: center;
    position: relative;
    height: 1em;
  }

  .name {
    display: block;
    vertical-align: center;
    text-align: center;
    margin-bottom: 1em;
    display: none;
  }

  .step {
    color: black;
    border: 1px solid $cob-sg-blue-005;
    border-radius: 50%;
    line-height: 1;
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
    z-index: 0;
  }

  .step .number {
    display: none;
  }
  
  .active
  {
    margin-top: -0.3em;
  }
  .active .step
  {
    height: 1.6em;
    width: 1.6em;
    background-color: white;
  }
  .active .step .number {
    display: initial;
    line-height: 1.6;
  }

  .active .name,
  .active .step {
    opacity: 1;
  }
  
  .done
  {
    background-color: $cob-sg-blue-005;
    height: 1.1em;
  }
  
  li:first-of-type, li:last-of-type {
    border-radius: 0.6em;
  }
  
  .done .step
  {
    border-width: 0;
  }
  // .progress .step:before,
  // .progress .step:after {
  //   content: "";
  //   display: block;
  //   // background-color: silver;
  // 
  //   height: 1.2em;
  //   width: 50%;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   z-index: -1;
  // }
  
  .step:before {
    left: 0;
  }
  
  .step:after {
    right: 0;
  }

  .done .step:before,
  .done .step:after{
    background-color: $cob-sg-blue-005;
  }
  
  .active .step:before {
    background-color: $cob-sg-blue-005;
  }
  
  .done .step {
    background-color: $cob-sg-blue-004;
  }
  
  .active .step {
    border: 1px solid $cob-sg-blue-005;
  }
}
