.summary-readout--tile {
  float: left;
  @include open-sans-condensed-bold;
}
.summary-readout--tile__green .summary-readout--tile-label__outside {
  color: $cas-green;
}
.summary-readout--tile__green .summary-readout--tile-color-block {
  background-color: $cas-green;
}
.summary-readout--tile__blue .summary-readout--tile-label__outside {
  color: $cas-blue;
}
.summary-readout--tile__blue .summary-readout--tile-color-block {
  background-color: $cas-blue;
}
.summary-readout--tile__red .summary-readout--tile-label__outside {
  color: $cas-red;
}
.summary-readout--tile__red .summary-readout--tile-color-block {
  background-color: $cas-red;
}
.summary-readout--tile-label {
  text-transform: uppercase;
  font-size: rem(14);
  text-align: left;
  @include open-sans-light;
}
.summary-readout--tile-color-block {
  color: $cas-red-green;
  font-size: rem(20);
  line-height: 1;
  text-align: center;
  padding: 9px 12px;
}
