.summary-readout--tile {
  &:not(:last-of-type) {
    @include media-breakpoint-up(md) {
      padding-right: space(6);
      border-right: 2px solid $gray-020;
      margin-right: space(6);
    }
  }
}

.summary-readout--tile-label {
  text-transform: uppercase;
  font-size: rem(18);
  text-align: left;
  @include open-sans-light;
}

.summary-readout--value {
  @include open-sans-bold;
  font-size: rem(20px);
}

.summary-readout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-top: space(4);
  justify-content: space-between;
  @include media-breakpoint-up(md) {
    min-width: auto;
    margin-top: 0;
    justify-content: flex-star;
  }
}
