- rule = assessment_completed_within
%h4 Range
= select_tag(:variable, options_from_collection_for_select(rule.available_options, :first, :last), class: 'variable', id: "variable_#{rule.id}", data: {options: rule.available_options.to_h.to_json})
