Hello #{@client.first_name},
\
= "A housing opportunity for which you may be eligible has become available.  Please contact your #{_('case worker')} for more details."
\
= render 'notifications_mailer/shelter_agency_contacts'
\
\
\
\
(This is an automated email, so please don't reply--replies won't go anywhere.)
