%ul.nav.nav-tabs
  - active_class = if action_name == 'index' then 'active' else '' end
  %li.nav-item{role: 'presentation', class: active_class}
    = link_to({action: :index}, class: 'nav-link') do
      Matched Clients
  - active_class = if action_name == 'closed' then 'active' else '' end
  %li.nav-item{role: 'presentation', class: active_class}
    = link_to({action: :closed}, class: 'nav-link') do
      Closed Matches