- match = @opportunity.active_matches.first
= render 'match_details', match: match
= render 'tab_navigation', match: match

= render 'matches/list', opportunities: @opportunities, match_type: 'closed'