- match = active_match = @opportunity.active_matches.first
- active_client_ids = @opportunity.active_matches.pluck(:client_id)
= render 'match_details', match: match
= render 'tab_navigation', match: match
%p Showing only clients who are available to be matched.
= render 'activate_table', match: match, active_match: active_match, active_client_ids: active_client_ids
