%section.mt-6.c-detail-group.c-detail-group--block
  %header.d-flex.align-items-center.mb-4
    %h3.mr-2.mb-0 Contacts
    - if contacts_editable?
      .detail-box--link
        = link_to access_context.edit_match_contacts_path(match), data: {loads_in_pjax_modal: true} do
          %span.icon-pencil
          Edit

  = render 'match_contacts/match_contacts_list', match: match
