.detail-box--label Program
.detail-box--value
  = match.opportunity_details.program_name
  %em
    = match.opportunity_details.sub_program_name
.detail-box--label Service Provider
.detail-box--value= match.opportunity_details.service_provider_name
-#.detail-box--label Sub-Contractor
.detail-box--value