.detail-box--label Rules
.detail-box--value
  - requirements = match.requirements_with_inherited
  - if match&.requirements_have_changed?
    .alert.alert-danger
      Requirements have changed since match creation; client may no longer be eligible.
  - if requirements.count > 0
    - requirements.each do |r| 
      = r.name
      %em.detail-box--requirement-source
        = "(#{r.requirer.name})"
      %br
  - else
    None
- if match.sub_program.eligibility_requirement_notes?
  .detail-box--label
    Additional Eligibility Requirements
  .detail-box--value
    = match.sub_program.eligibility_requirement_notes