
- if @decision.stallable? && @match.stalled?
  = render 'matches/status_update'
- elsif @decision.stallable?
  %p.o-section__note
    %i.icon-info.mr-2
    This match will be considered stalled if it has not progressed by
    %strong #{@match.stall_date}.
