
= f.input :sub_programs, as: :select2, collection: sub_program_list, label: 'Program', input_html: { multiple: true }
= f.submit 'Download', class: 'btn btn-primary mt-no-label', data: { disable_with: false }
