.row 
  .col-sm-6.col-sm-offset-1
    %p.home-intro
      Coordinated Access matches homeless individuals to housing vacancies based on need. The Coordinated Access system will centralize vacancies to permanent supportive housing units and will use data to drive outcomes.
    

  .col-sm-3
    = link_to 'http://www.cityofboston.gov/news/default.aspx?id=20588', target: "_blank" do
      = image_tag "action-plan-cover.png", alt: "Cover of Mayor Walsh's Action Plan to End Veteran and Chronic Homelessness", class: "img-responsive img-shadowed"