.c-card {
  padding: space(3);
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.c-card--block {
  display: block;
}

.c-card__header {
  padding: space(3) space(3) 0 space(3);
}

.c-card > .c-card__content {
  @include card;
  width: 100%;
}

.c-card--flush {
  padding: 0;
  .table {
    margin-bottom: 0;
  }
  .table thead tr th,
  .table tbody tr td {
    &:first-of-type {
      padding-left: rem(15px);
    }
    &:last-of-type {
      padding-right: rem(15px);
    }
  }
}

.c-card--linked {
  cursor: pointer;
  &:focus,
  &:hover {
    color: $text-color;
    box-shadow: 0 2px 8px rgba($black, .1);
  }
  &:active {
    background-color: $body-bg;
  }
}

.c-card__title {
  margin-bottom: space(3);
  font-size: 110%;
  font-weight: 800;
}

/* .c-card__description { } */
.c-card__content-blocks {
  display: flex;
  flex-wrap: wrap;
}

.c-card__content-block {
  flex: 1 1 100%;
  min-width: 100%;
  margin-bottom: space(6);
  margin-right: space(6);
  @include media-breakpoint-up(sm) {
    flex: 1 1 300px;
    min-width: 250px;
    max-width: 250px;
  }
}

.c-card__content-block h5 {
  text-transform: uppercase;
  color: $cob-sg-blue-004;
}

.c-card__content-block-text {
  font-weight: 800;
}

.c-card__content-block-text--secondary {
  font-weight: normal;
}
