.c-card {
  padding: space(3);
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.c-card--block {
  display: block;
}

.c-card__header {
  padding: space(3) space(3) 0 space(3);
}

.c-card > .c-card__content {
  @include card;
  width: 100%;
}

.c-card--flush {
  padding: 0;
  .table {
    margin-bottom: 0;
  }
  .table thead tr th,
  .table tbody tr td {
    &:first-of-type {
      padding-left: rem(15px);
    }
    &:last-of-type {
      padding-right: rem(15px);
    }
  }
}

.c-card--linked {
  cursor: pointer;
  &:focus,
  &:hover {
    color: $text-color;
    box-shadow: 0 2px 8px rgba($black, .1);
  }
  &:active {
    background-color: $body-bg;
  }
}

.c-card__title {
  margin-bottom: space(3);
  font-size: 110%;
  font-weight: 800;
}

/* .c-card__description { } */
.c-card__content-blocks {
  display: flex;
  flex-wrap: wrap;
}

.c-card__content-block {
  margin-bottom: space(6);
}

.c-card__content-group {
  margin-bottom: space(6);
}

.c-card__content-group p {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

.c-card__content-group h5,
.c-card__content-block h5 {
  text-transform: uppercase;
  color: $cob-sg-blue-004;
}

.c-card__content-group-heading {
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid $cob-sg-blue-004;
  margin-bottom: space(2);
}

.c-card__content-group-icon {
  margin-right: space(2);
  font-size: 18px;
  color: $cob-sg-blue-004;
}

.c-card__content-block-text {
  font-weight: 800;
  &:empty {
    margin-bottom: -30px;
  }
}

.c-card__content-block-text--secondary {
  font-weight: normal;
}

.c-card__rule {
  margin-left: -16px;
  margin-right: -16px;
  border-width: 2px;
}
