.c-detailed-list {
  @include list-unstyled;
}

.c-detailed-list__item {
  display: flex;
  align-items: baseline;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  &::after {
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    height: 1px;
    border-top: 1px dashed #CCCCCC;
    z-index: 1;
  }
}

.c-detailed-list__label,
.c-detailed-list__value {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

.c-detailed-list__value {
  margin-left: auto;
  font-weight: bold;
}
