.c-question {
  background: $white;
  padding: space(2) space(2) space(4) space(2);
}

.c-question--without-number {
  padding-left: calc(#{space(2)} + #{space(2)} + 50px);
}

.c-question .form-group,
.c-question .form-control,
.c-question label {
  width: auto;
  max-width: 600px;
}

.c-question__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.c-question__input {
  select,
  textarea {
    min-width: 600px;
  }
}

.c-question .form-group {
  margin-bottom: 0;
}

.c-question label,
.c-question .control-label {
  font-weight: 600;
}

.c-question__number {
  // flex: 0 0 auto;
  @include metric;
  margin-right: space(4);
}

.c-question span:last-of-type {
  font-weight: 600;
}
