%h1 Add Vacancies
%p Use this form to add vacancies in bulk.  It will create randomly named units at the site chosen and the same number of vouchers in the program selected.  Then it will make those units available and attach them to the vouchers.  Finally, it will make the vouchers available and matches will be created for the available vacancies.
= render 'form'
= link_to 'Back', opportunities_path
