= simple_form_for @match_note, url: submit_url, as: :match_note, html: {data: {submits_to_pjax_modal: true}} do |form|
  = form.input :note, as: :text, input_html: {rows: 4}, label: false
  = form.submit "Save", class: 'btn btn-primary'