= render 'breadcrumbs'
- @user.validate
.row
  .col-sm-12
    %h1
      Edit User Account:
      = @user.name
  - if @user.reset_password_period_valid?
    .alert.alert-info
      %p
        = @user.name
        has an active password reset request.
  .col-sm-8
    = render 'form'
