Hello #{@contact.full_name},
\
The following matches have stalled and at least one contact has failed to provide an update within the alloted time.
\
Matches:
- @notifications.each do |notification|
  #{notification_match_url(notification_id: notification.code, id: notification.client_opportunity_match_id)}
\
\
\
\
= render 'email_footer'
