Hello #{@contact.full_name},
\
A housing opportunity for which you may be eligible.  Please contact your case worker for more details.
\
(This is an automated email, so please don't reply--replies won't go anywhere.)
