Hello #{@contact.full_name},
\
A new set-aside opportunity has been made available. Please review this opportunity.
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
