Hello #{@contact.full_name},
\
The following match or matches appear to have stalled, please provide a status update.
\
Matches:
- @notifications.each do |notification|
  #{notification_match_url(notification_id: notification.code, id: notification.client_opportunity_match_id)}
\
\
\
\
= render 'email_footer'
