.row
  .col-md-6
    = form_tag(nil, method: "get")
    .input-group{style: 'margin-bottom: 20px;'}
      %input.form-control{name: 'q', autofocus: true, type: :text, placeholder: @prompt, value: @query || params[:q]}
      %span.input-group-btn
        %button.btn.btn-default{type: :submit} Search