.alert.alert-primary Lorem ipsum dolor sit amet, consectetur adipiscing elit.
.alert.alert-secondary Lorem ipsum dolor sit amet, consectetur adipiscing elit.
.alert.alert-success Lorem ipsum dolor sit amet, consectetur adipiscing elit.
.alert.alert-warning Lorem ipsum dolor sit amet, consectetur adipiscing elit.
.alert.alert-danger Lorem ipsum dolor sit amet, consectetur adipiscing elit.
.alert.alert-info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
.alert.alert-light Lorem ipsum dolor sit amet, consectetur adipiscing elit.
.alert.alert-dark Lorem ipsum dolor sit amet, consectetur adipiscing elit.
