.mt-4.mb-1
  %button.btn.btn-primary{:type => "button"} Primary
  %button.btn.btn-secondary{:type => "button"} Secondary
  %button.btn.btn-success{:type => "button"} Success
  %button.btn.btn-danger{:type => "button"} Danger
  %button.btn.btn-warning{:type => "button"} Warning
  %button.btn.btn-info{:type => "button"} Info
  %button.btn.btn-light{:type => "button"} Light
  %button.btn.btn-dark{:type => "button"} Dark

.mb-4
  %button.btn.btn-primary.disabled{:type => "button"} Primary
  %button.btn.btn-secondary.disabled{:type => "button"} Secondary
  %button.btn.btn-success.disabled{:type => "button"} Success
  %button.btn.btn-danger.disabled{:type => "button"} Danger
  %button.btn.btn-warning.disabled{:type => "button"} Warning
  %button.btn.btn-info.disabled{:type => "button"} Info
  %button.btn.btn-light.disabled{:type => "button"} Light
  %button.btn.btn-dark.disabled{:type => "button"} Dark
