.mt-8.d-flex
  %ol.c-stepped-progress
    %li.c-stepped-progress__step.c-stepped-progress__step--done
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 1
    %li.c-stepped-progress__step.c-stepped-progress__step--done
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 2
    %li.c-stepped-progress__step.c-stepped-progress__step--active
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 3
    %li.c-stepped-progress__step
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 4
    %li.c-stepped-progress__step.c-stepped-progress__step--final
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 5

.mt-8.d-flex
  %ol.c-stepped-progress.c-stepped-progress--sm
    %li.c-stepped-progress__step.c-stepped-progress__step--done
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 1
    %li.c-stepped-progress__step.c-stepped-progress__step--done
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 2
    %li.c-stepped-progress__step.c-stepped-progress__step--active
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 3
    %li.c-stepped-progress__step
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 4
    %li.c-stepped-progress__step.c-stepped-progress__step--final
      %a.c-stepped-progress__step-link
        .c-stepped-progress__step-number 5
