%h4 Adding Boston Homeless Nights
%p If you believe the participant has more Boston homeless nights to add to their record (unsheltered stays in Boston; and/or shelters who do not input into the Warehouse), complete the three year history found at
= link_to 'bostoncoc.mailchimpsites.com', 'https://bostoncoc.mailchimpsites.com', target: :_blank
and specify the number of Boston homeless nights you are adding to their length of time homeless in the warehouse. Keep this in the client’s file at your agency. This documentation may be required by the housing subsidy administrator agency the client is matched to. You may skip this step if you do not have any additional Boston homeless nights to add.
