%h2 Contact Information
%h3 Key Points to Share with the Participant Regarding Contact Information
%ul
  %li
    %strong We want to reach You When There is a Housing Program Opening for You:
    We are going to ask you to brainstorm different ways and times we can reach you so you don't miss out on a housing opportunity through Pathways.
  %li
    %strong A Different Person May Contact You When There is an Opening:
    I will be notified when you get a match to a housing program, but it will most likely be a staff person of that housing program that you have never met before that reaches out to you. Make sure you connect with that person so you can take the opening as the opening are often time sensitive (2 weeks or less).
