%h2 Contact Information
%h3 Key Points to Share w/the Participant re: Contact Information
%ul
  %li
    %strong We Want to Reach You When There Is A Housing Program Opening For You:
    We are going to ask you to brainstorm different ways and times we can reach you so you don’t miss out on a housing opportunity through the Pathways assessment.
  %li
    %strong A Different Person May Contact You When There is An Opening:
    I will be notified when you get matched to a housing program, but it will most likely be a staff person of that housing program that you have never met before that reaches out to you. Make sure to connect with that person so you can take the opening as the openings are often time sensitive (two weeks or less).
