%h2 Household History – For Homeless Set-Asides
%h3 Key Points to Share with the Participant Regarding Household History Questions
%p The next section will ask you questions about your current situation and housing history. Please know that the responses to these questions in no way jeopardize the services you currently use, or any future housing opportunities you choose to pursue. These questions are only asked for the purposes of matching people to the housing resources available.
