%h3 Key Points to Share w/the Participant re: Housing Preferences
%ul
  %li
    %strong There are vouchers and actual apartments set aside for people experiencing homelessness in Boston:
    The rent for these units is usually calculated at between 30-40% of your monthly income. Some of them also come with supportive services. These questions are to collect your preferences in case there are ever openings, although openings can be rare.
  %li
    %strong Neighborhood Choice:
    We’ll ask you what neighborhoods you would consider living in if openings came up. The more choices you pick, the better your chance of being offered a unit if there are ever openings. You are not required to take a unit in a neighborhood you selected.
