%h2 Housing Preferences
%h3 Key Points to Share w/the Participant re: Household Composition
%p
  %strong Some housing program openings are based off of how many members are in the household, or age:
  We can also talk about different housing options once we know who will be living with you.
