%h4 Key Points to Share w/the Participant re: Housing Stability
%p The information we gather here will be used to add you to the pool of applicants who are seeking transfers to permanent supportive housing.
%p Responses may be self-report from the participant as well as case manager observation during the stabilization relationship.
%p
  %em
    %strong Instructions to staff:
    for each question, write in the points value (indicated in green font) that corresponds to the participant's situation. Total up the score at the bottom.


%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Question
      %th Options
      %th Score
  %tbody
    %tr
      %td  How many times have you moved while enrolled in rapid re-housing?
      %td
        %ul
          %li Client has not moved while enrolled: 0
          %li Once: 2
          %li Two more times: 4
      %td
    %tr
      %td
        How serious are your health concerns right now (physical, mental health, substance use)?
        %br
        Or how often have you been in the emergency room (ER) in the last 6 months?
      %td
        %ul
          %li Client has no serious health concerns: 0
          %li Mild symptoms that are only slight impairments to daily functioning, or 1-2 ER visits in the past six months: 1
          %li Moderate symptoms that impact some day-to-day functioning, or 3-5 ER visits in the past six months, or 1 hospitalization in the past 6 months: 2
          %li Severe symptoms that impact nearly all day-to-day functioning, or 6-8 ER visits in the past six months, or 2-3 hospitalizations in the past 6 months: 4
          %li Client is in crisis – life is at imminent risk; and/or medical prognosis is less than 1 year, or 9+ ER visits in the past 6 months, or 4+ hospitalizations in the past 6 months: 6
      %td
    %tr
      %td Have you or are you currently experiencing domestic violence?
      %td
        %ul
          %li Client has never experienced domestic violence or an on-site assault: 0
          %li History of DV or on-site assaults, though environment is currently safe: 1
          %li Safety is moderately adequate: 2
          %li Current level of safety is minimally adequate – ongoing safety planning is needed: 3
          %li In-crisis – life at serious imminent risk due to DV or on-site assaults: 6
      %td
    %tr
      %td Are you currently at risk of being evicted by your landlord?
      %td
        %ul
          %li Client is not currently at risk of eviction from their current unit: 0
          %li Property owner has verbally threatened eviction to either the tenant or the case manager but not taken any formal steps: 1
          %li Client has received a notice-to-quit terminating their tenancy: 2
          %li Client has received a court summons & complaint and is facing eviction for non-payment of rent: 4
          %li Client has received a court summons & complaint and is facing eviction for cause (e.g. lease violations, criminal activity, etc.): 6
      %td
    %tr
      %td Do you ever need assistance with daily activities like eating, bathing/showering, dressing?
      %td
        %ul
          %li Client requires little to no assistance with tasks of daily living: 0
          %li Client requires minimal assistance w/some tasks of daily living: 1
          %li Client requires assistance with minor tasks of daily living (eg, brushing teeth, etc): 3
          %li Client requires assistance with nearly all major tasks of daily living (eg, eating, bathing, etc): 6
      %td
    %tr
      %td Do you have any income right now?
      %td
        %ul
          %li Client has a consistent and adequate source of income: 0
          %li Client has an unstable and/or inadequate source of income: 1
          %li Client has no income: 2
      %td
    %tr
      %td What is the source of the income?
      %td
        %ul
          %li Client's income is fully documented and reportable: 0
          %li  Case manager has observed that client may relying on unreportable income (i.e. under the table work, sex work, etc.) for daily living expenses: 2
      %td
    %tr
      %td Do you currently have positive family or friend relationships in your support network?
      %td
        %ul
          %li Client has consistent and adequate support systems in the form of friends and/or family: 0
          %li Client has some support systems in the form of friends and/or family, though it is not always stable or sufficient: 1
          %li Client has no support systems and is entirely dependent on staff for support: 2
      %td
    %tr
      %td Do you have any active legal concerns, open court cases, or convictions that may come up when we apply for other housing?
      %td
        %ul
          %li Client has no legal concerns: 0
          %li Legal concerns will not significantly impair access to housing: 1
          %li Client has major legal concerns that significantly impair access to housing: 2
      %td
    %tr
      %td Do you currently have healthcare coverage?
      %td
        %ul
          %li Client has stable, sufficient healthcare coverage: 0
          %li Client has unstable or insufficient healthcare coverage: 1
      %td
    %tr
      %td Do you currently have childcare?
      %td
        %ul
          %li Client has no childcare concerns: 0
          %li Client has unstable or insufficient access to childcare: 1
      %td
    %tr
      %td
      %td Total Score
      %td
