%h4 Key Points to Share with the Participant Regarding Housing Stability
%p The information we gather here will be used to add you to the pool of applicants who are seeking transfers to permanent supportive housing.
%p Responses may be self-reported by the participant as well as case manager observation during the stabilization relationship.
