%h2 Household History
%h3 Key Points to Share with the Participant Regarding Length of Time Homeless
%p Some housing programs use a tiebreaker of how long someone has experienced Boston homelessness if more people are interested in an opportunity than there are available openings. The tie breaker is defined by who has the most cumulative Boston homeless nights in unsheltered situations, emergency shelter and transitional housing/VA GPD in the last three years. Stays in institutions less than 120 Boston homeless nights may also count.  If you believe your client has more Boston homeless Boston homeless nights in the last three years than is reflected in their Windows to the Warehouse record you may use this form to "add" Boston homeless Boston homeless nights to their record for the purposes of a tie breaker.
%p We will need to document any nights that are not in our database if there are housing openings that you are matched to.
