%h2 Housing Preferences
%h3 Key Points to Share w/the Participant re: Household Composition
%p
  %strong Some housing program openings are based off of how many members are in the household, or age:
  We can also talk about different housing options once we know who will be living with you.
%p
  %strong Pending Housing Offer:
  We also want to know if you are about to move into an apartment where the rent is calculated at about 30-40% of your income so we can get you connected to move-in assistance right away. This includes if you have a voucher to find a unit but need help searching for an apartment.
