.c-question.mb-0
  .c-question__wrapper
    .c-question__number
    .c-question__input
      %p 
        I have completed this Pathways assessment and have added more than 548 non-HMIS days to this assessment. I certify that I went through each step in the Documenting Current Boston Homelessness form and that myself or my agency have had consistent contact with this client to reasonably believe them to be homeless for total # of non-HMIS days that have been added to the assessment.
      = form.input :self_reported_days_verified, as: :pretty_boolean, label: "By checking this box, you attest that the above is true and that the information in the above client’s assessment regarding their self-reported days of homelessness is true and accurate"