%h2 Household History - For Homeless Set-Asides
%h3 Key Points to Share with the Participant Regarding Length of Time Homeless
%p Some housing programs are required to serve people who experienced long term homelessness prior to entering rapid re-housing.
%p We will need to document any nights that are not in our database if there are housing openings that you are matched to.
%p Household History will only apply to clients who may be matched to Homeless Set-Asides.
