= simple_form_for @non_hmis_client, url: url do |f|
  = f.simple_fields_for :client_assessments, @assessment do |a|
    - # view is versioned, so choose view based on model type
    = render @assessment.model_name.element, form: a, disabled: true
