- sub_title ||= ''

= render 'breadcrumbs'

.title.d-flex.align-items-baseline
  %h1.mr-2 Update #{client_type.capitalize} Client
  - if sub_title
    %h2=sub_title

.row
  .col-md-6
    = render 'client_form',
      action: 'update'

-# = render 'assessments'

= render 'init_select2'
