.row.row.table-utilities.px-2
  .col-sm-6
    %p.my-1= page_entries_info @non_hmis_clients
  .col-sm-6.ml-auto.text-right
    %p.my-1.client__current-sort-filter
      Currently sorted by:
      %strong= @sorted_by
